html {
    background-color: #379683;
}

.temp.info {
    text-align: center;
    color: #EDF5E1;
    margin: 25px;
}

.temp.info div{
    background-color: #05386b;
    color: #EDF5E1;
    margin: 25px;
}

