html {
    background-color: #379683;
}


.temp.info div{
    text-align: center;
    background-color: #05386b;
    outline: 2px solid red;
    color: #EDF5E1;
    margin: 25px;
}

div .temp.info{
    outline: 4px solid blue;
}
